/*label {
    float: left;
    width: 100px;
}
 
input, select, textarea, button {
    float: left;
    width: calc(100% - 100px);
    margin-bottom:10px;
}*/

.cre-bottom{position:relative;margin-left:60px;display:grid;}
.cre-bottom div{margin-top: 20px;}
.cre-bottom div label{float:left;width:150px;}
.top{margin-bottom:10px;}
.p-datediv{display:flex; width:500px;}
.p-datediv select{width:50px;}
.p-date, .p-time, .p-due{width:150px;float:left;margin-bottom:10px;}
.p-title, .p-brinfo{width:300px;float:left;margin-bottom:10px;}
.p-btn{position:relative;left:100px;top:30px;width:200px;height:50px;}
