.logo{position:relative;top:30px;left:100px;width: 200px; height:50px;line-height:50px;background-color: aliceblue;}
.top{position:relative;top:20px;display: flex;}
.watchBtn{position:relative;left: 90px;top:30px;height:50px;width:200px;margin-bottom:10px;}
.createBtn{position:relative;left:40px;top:30px;width:200px;height:50px;margin-bottom:10px;}
.bottom{display: grid;position:relative;top:50px;left:65px;}
.id{font-size:50px;margin:20px 0 20px 20px;}
.party{font-size:20px;}
.list{margin-top:15px;}
.list ul{list-style: none;}
.partylist{height:130px;width:350px;border:none;border-radius:10px;margin: 0 0 30px 40px;background:#dceff5;}
.grade{display:flex;}
.gradeTitle{ margin-right:15px;}
.gradegrade{color:red;}
.center{display:flex;}
.pi-top{height:30px;display:flex;background: #b4d4c9;border-radius:10px 10px 0 0;}
.pi-top button{position:relative;left:135px;top:5px;height:20px;border:none;border-radius:5px;background: #D1F6DF;}
.pi-top button:hover{background: #D1E4F6;}
.pi-top div{margin:5px 0 0 20px; font-size:13px;}
.pi-mid{height:70px;text-align: center;line-height:70px;background: #d3ebea;font-weight:bold;font-size:18px;}
.pi-btm{height:30px;display:flex}
.pi-btm-date{margin: 7px 0 0  30px; font-size:13px;}
.pi-btm-num{position:relative;left:195px;top:7px;font-size:13px;}