.review-btn{width: 150px;position: relative;left: 100px;top: 20px;height: 30px;margin:20px 20px 10px 0 ;}
.watch-bottom{position: relative;top:50px;left:50px;}
.review-list{position: relative;margin-bottom:10px;}
.review-list ul{list-style: none;}
.reviewlist{height:100px;width:350px;border:1px solid black;border-radius:10px;margin-bottom:10px;}
.showad{position:relative;left:30px;}
.w-grade{display:flex;position:relative;left:300px;top:-20px;}
.reviewUlItem{display:grid;position:relative;width:950px;}
.wd-bottom{display: grid;position:relative;}

.wd-cate{position:relative;left:30px;top:40px;}
.wd-top{height:30px;display:flex;background: #b4d4c9;border-radius:10px 10px 0 0;}
.wd-top button{position:relative;left:90px;top:5px;width:50px;height:20px;border:none;border-radius:5px;background: #D1F6DF;margin-right:5px;}
.wd-top button:hover{background: #D1E4F6;}
.wd-top div{margin:5px 0 0 20px; font-size:13px;}
.top-wdt-mid{position:relative;left:45px;top:-5px;font-size:13px;color:gray;}
.wdt-mid{display:flex;margin:10px 0 0 40px;}
.wd-mid{height:70px;background: #d3ebea;display: grid;}
.wd-midtitle{display:flex;font-size:17px;font-weight:bold;margin:10px 0 0 20px;}
.wd-midtitle-1{width:260px;}
.wd-midtitle-2{font-size:14px;font-weight:normal;}
.wd-midcon{font-size:15px;margin-left:40px;}
.wd-btm{height:30px;display:flex;}
.wd-btm-date{margin: 7px 0 0 230px; font-size:13px;}
.list{margin:auto}